@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
  float: left;
}

.nav {
  float: right;
}

.nav-item {
  float: left;
  width: 120px;
  line-height: 70px;
  list-style: none;
  padding: 0 30;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
}

#mv {
  width: 100%;
  height: 650px;
  background-image: url(../img/mv.png);
  background-size: cover;
  background-position: center;
  color: #fafafa;
  text-align: center;
}

h1 {
  padding-top: 200px;
  padding-bottom: 10px;
  font-size: 64px;
}

.mv-text {
  font-size: 20px;
}

#portfolio {
  width: 100%;
  background-color: #eceff1;
  text-align: center;
}

.heading {
  padding-top: 90px;
  font-size: 32px;
}

.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0;
  background-color: #ec715f;
}

.text {
  font-size: 16px;
  margin: 30px auto;
}

.image-box {
  width: 920px;
  margin: 0 auto;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.pf-image {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.pf-image:nth-child(1) {
  background-image: url(../img/sketch.jpg);
  margin: 0 10px 10px 0;
}

.pf-image:nth-child(2) {
  background-image: url(../img/websuku.png);
  margin-right: 10px;
}

.pf-image:nth-child(3) {
  background-image: url(../img/write.jpg);
}

.pf-image:nth-child(4) {
  background-image: url(../img/webcamp.png);
  margin-right: 10px;
}

.pf-image:nth-child(5) {
  background-image: url(../img/talk.jpg);
  margin-right: 10px;
}

.pf-image:nth-child(6) {
  background-image: url(../img/webcamp-mother.png);
}

#feature {
  width: 100%;
  text-align: center;
}

.ft-box {
  width: 980px;
  margin: 0 auto;
  padding-bottom: 90px;
  display: flex;
  font-size: 60px;
  text-align: center;
}

.content-title {
  font-size: 20px;
  padding: 10px;
}

.ft-content {
  width: 320px;
  margin-right: 10px;
}

.ft-text {
  font-size: 16px;
  text-align: left;
}

.ft-content:last-child {
  margin-right: 0;
}

#profile {
  text-align: center;
  background-color: #eceff1;
}

.pro-box {
  width: 1024px;
  padding-bottom: 90px;
  display: flex;
  margin: 0 auto;
}

.photo-box {
  width: 512px;
}

.photo {
  width: 250px;
  height: 250px;
  background-image: url(../img/my-icon.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 250px;
  margin: 0 auto;
}

.pro-text-box {
  width: 512px;
  text-align: left;
}

.pro-title {
  font-size: 20px;
  padding-bottom: 5px;
}

.pro-text {
  font-size: 16px;
  padding-bottom: 20px;
}

#contact {
  text-align: center;
}

.contact-box {
  width: 800px;
  padding-bottom: 90px;
  margin: 0 auto;
  display: flex;
}

.mail-box {
  width: 50%;
  font-size: 16px;
  text-align: left;
}

.mail-box-content {
  width: 130px;
  margin: 0 auto;
}

.mail-title {
  font-size: 20px;
  padding: 20px 0 5px 0;
}

.mail-title:first-child {
  padding-top: 0;
}

.mail {
  color: black;
  text-decoration: underline;
}

.sns-box {
  width: 50%;
  text-align: left;
}

.sns-box-content {
  width: 170px;
  margin: 0 auto;
}

.sns-box-content .fa {
  margin-right: 20px;
  font-size: 40px;
}

.sns-box-content .fa:last-child {
  margin-right: 0;
}

footer {
  width: 100%;
  height: 60px;
  color: #fafafa;
  line-height: 60px;
  background-color: #ec715f;
}

.copyright {
  font-size: 16px;
  text-align: center;
}
